<!DOCTYPE html>
<html lang="en" ng-app="RadioApp">
<head>
<title> Radio Buttons </title>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
<script lang="javascript" src="Demo3.js"></script>

</head>

<body>
<h3> Radio Buttons</h3><br><br>
<div ng-controller="RadioController"> 
	<div class="form-group">
	<label> Q1: {{question.text}}</label>
	</div>
	
	<div class="form-group">
		<input id="option1" type="radio" ng-model="question.response" value="1">
        <label for="option1">{{question.options[0].text}}</label>
	</div>
	
	<div class="form-group">
		<input id="option2" type="radio" ng-model="question.response" value="2">
        <label for="option2">{{question.options[1].text}}</label>
	</div>
	
	<div class="form-group">
		<input id="option3" type="radio" ng-model="question.response" value="3">
        <label for="option3">{{question.options[2].text}}</label>
	</div>
	<br>
	<button type="submit" ng-click="evaluate()">Evaluate</button>
	
</div>



</body>
</html>
